@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --bg-lg: hsl(73 28% 87%);
  --bg-md: hsl(73 47% 92%);
  --bg-sm: hsl(73 100% 97%);
  --text: hsl(72 100% 2%);
  --text-muted: hsl(71 27% 23%);
  --highlight: hsl(73 100% 95%);
  --border: hsl(72 15% 45%);
  --border-muted: hsl(72 16% 57%);
  --primary: hsl(66 100% 13%);
  --secondary: hsl(260 34% 35%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  --border-card: solid 1px var(--bg-md);
  --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
}

.dark {
  --bg-lg: hsl(192 100% 5%);
  --bg-md: hsl(189 74% 7%);
  --bg-sm: hsl(187 43% 9%);
  --text: hsl(187 100% 92%);
  --text-muted: hsl(187 24% 66%);
  --highlight: hsl(187 21% 36%);
  --border: hsl(187 30% 25%);
  --border-muted: hsl(187 53% 14%);
  --primary: hsl(187 57% 58%);
  --secondary: hsl(6 68% 74%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  --border-card: solid 1px var(--bg-md);
  --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-bglg: var(--bg-lg);
  --color-bgmd: var(--bg-md);
  --color-bgsm: var(--bg-sm);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-bglg text-foreground;
  }
}


.toolcard {
  background: var(--bg-md);
  padding: 1rem 2rem;
  border: var(--border-card);
  border-top: 1px solid var(--highlight);
  border-radius: 1rem;
  box-shadow: var(--shadow);

  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    background-color: var(--bg-sm);
    box-shadow: var(--shadow),
      0px 20px 40px oklch(0 0 0 / 0.11),
      0px 8px 24px oklch(0 0 0 / 0.08);
    transform: translateY(-2px) translateX(-2px);
  }
}